<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDLayoutTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F60E408B1CC71EB60095B518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F60E40A41CC71EB70095B518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F60E40AF1CC71EB70095B518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
